@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c:wght@300&family=Rubik:wght@300&family=Smooch+Sans&display=swap');

.movie{
    background-color: rgb(240, 236, 236);
    padding:40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
}

.title{
    grid-column: 1/3;
    grid-row: 1/2;
}

.titleLink{
    text-decoration-line: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.titleLinkOn{
    text-decoration-line: none;
    color: rgb(94, 93, 93);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.img{
    max-width: 80%;
    grid-column: 1/2;
    grid-row: 2/4;
}

.summary{
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.genre{
    grid-column: 2/3;
    grid-row: 3/4;
    list-style-type: none;
    padding: 0;
}

.genreList{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: rgb(197, 197, 199);
    font-family: 'Rubik', sans-serif;
}